<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Página de Checkbox 2</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-item>
    <ion-label>Checkbox 1</ion-label>
    <ion-checkbox></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>Checkbox 2</ion-label>
    <ion-checkbox disabled="true"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>Checkbox 3</ion-label>
    <ion-checkbox checked="true"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>Checkbox desabilitado</ion-label>
    <ion-checkbox disabled="true" checked="true"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>Checkbox dark</ion-label>
    <ion-checkbox  color="dark" slot="start"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>Checkbox primary</ion-label>
    <ion-checkbox color="primary"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>Checkbox success</ion-label>
    <ion-checkbox color="success"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>Checkbox danger</ion-label>
    <ion-checkbox color="danger"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>Checkbox tertiary</ion-label>
    <ion-checkbox color="tertiary"></ion-checkbox>
  </ion-item> 
</ion-content>
