<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Página de Card 2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card-header>
    <ion-img src="../assets/banda.png"></ion-img>
    <ion-card_subtitle>Evento</ion-card_subtitle>
    <ion-card-title>Show da Banda Shine</ion-card-title>
    <ion-card-content>A Banda Shine irá realizar um show de Rock neste sábado, para mais
    informações acesse: www.bandashine.com.br
    </ion-card-content>
  </ion-card-header>

  <ion-card color="danger">
    <ion-card-header>
      <ion-card_subtitle>Atenção</ion-card_subtitle>
      <ion-card-title>Ultimos lotes Disponíveis</ion-card-title>
      <ion-card-content>Restam somente 2 lotes para o show da Banda Shine</ion-card-content>
    </ion-card-header>
  </ion-card>
</ion-content>

