<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Página Badge</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-badge color="tertiary" slot="start">1</ion-badge>
    <ion-label>Roxo</ion-label>
  </ion-item>
  <ion-item>
    <ion-badge color="warning" slot="start">2</ion-badge>
    <ion-label>Amarelo</ion-label>
  </ion-item>
  <ion-item>
    <ion-badge color="primary" slot="start">3</ion-badge>
    <ion-label>Azul escuro</ion-label>
  </ion-item>
  <ion-item>
    <ion-badge color="success" slot="start">4</ion-badge>
    <ion-label>Verde</ion-label>
  </ion-item>
  <ion-item>
    <ion-badge color="danger" slot="start">5</ion-badge>
    <ion-label>Vermelho</ion-label>
  </ion-item>
  <ion-item>
    <ion-badge color="light" slot="start">6</ion-badge>
    <ion-label>Branco</ion-label>
  </ion-item>
  <ion-item>
    <ion-badge color="medium" slot="start">7</ion-badge>
    <ion-label>Cinza</ion-label>
  </ion-item>
  <ion-item>
    <ion-badge color="dark" slot="start">8</ion-badge>
    <ion-label>Preto</ion-label>
  </ion-item>
  <ion-item>
    <ion-badge color="secondary" slot="start">9</ion-badge>
    <ion-label>Azul claro</ion-label>
  </ion-item>
  <ion-item>
    <ion-badge color="primary" slot="start">1</ion-badge>
    <ion-label>Janeiro</ion-label>
    <ion-badge color="primary" slot="end">10</ion-badge>
  </ion-item>
  <ion-item>
    <ion-badge color="primary" slot="start">2</ion-badge>
    <ion-label>Fevreiro</ion-label>
    <ion-badge color="warning" slot="end">11</ion-badge>
  </ion-item>
  <ion-item>
    <ion-badge color="primary" slot="start">3</ion-badge>
    <ion-label>Março</ion-label>
    <ion-badge color="danger" slot="end">12</ion-badge>
  </ion-item>
  <ion-item>
    <ion-badge color="primary" slot="start">4</ion-badge>
    <ion-label>Abril</ion-label>
    <ion-badge color="dark" slot="end">13</ion-badge>
  </ion-item>
  <ion-item>
    <ion-badge color="primary" slot="start">5</ion-badge>
    <ion-label>Maio</ion-label>
    <ion-badge color="light" slot="end">14</ion-badge>
  </ion-item>
  <ion-item>
    <ion-badge color="primary" slot="start">6</ion-badge>
    <ion-label>Junho</ion-label>
    <ion-badge color="tertiary" slot="end">15</ion-badge>
  </ion-item>
</ion-content>
